<a href="https://colab.research.google.com/github/danielduartee/Python-OO/blob/main/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idades = [39, 30 ,27, 18]
type(idades)

list

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)

39

In [ ]:
len(idades)

4

In [ ]:
idades[3]

18

In [ ]:
print(idades)

[39, 30, 27, 18]

In [ ]:
idades.append(15)

In [ ]:
print(idades)

[39, 30, 27, 18, 15]

In [ ]:
idades.insert(3, 16)

In [ ]:
print(idades)

[39, 30, 27, 16, 18, 15]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16,21, 29,56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
      lista = list()
    print(len(list))
    print(lista)
    lista.append(13)

# Objetos Próprios

In [35]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [36]:
conta_do_dan = ContaCorrente(15)
print(conta_do_dan)

[>>Codigo 15 Saldo 0<<]

In [37]:
conta_do_dan.deposita(500)
print(conta_do_dan)

[>>Codigo 15 Saldo 500<<]

In [38]:
conta_do_dani = ContaCorrente(7455)
conta_do_dani.deposita(1000)
print(conta_do_dani)

[>>Codigo 7455 Saldo 1000<<]

In [39]:
contas = [conta_do_dan, conta_do_dani]
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 7455 Saldo 1000<<]

In [40]:
contas = [conta_do_dan, conta_do_dani]

In [41]:
print(contas[0])

[>>Codigo 15 Saldo 500<<]

In [42]:
class ContaCorrente:
   def __init__(self, codigo):
       self._codigo = codigo
       self._saldo = 0

   def __eq__(self, outro):
       return self._codigo == outro._codigo

   def deposita(self, valor):
       self._saldo += valor 

   def __str__(self):
     return "[>>codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [43]:
conta_do_dan = ContaCorrente(15)
conta_do_dani = ContaCorrente(15)
conta_do_dan == conta_do_dani

True

In [44]:
conta_do_dan != conta_do_dani

False

In [45]:
conta_do_dan in [conta_do_dani]

True

In [46]:
conta_do_dani in [conta_do_dan]

True

In [47]:
class ContaCorrente:
   def __init__(self, codigo):
       self._codigo = codigo
       self._saldo = 0

   def __eq__(self, outro):
       return self._codigo == outro._codigo and self._saldo == outro._saldo

   def deposita(self, valor):
       self._saldo += valor 

   def __str__(self):
     return "[>>codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [48]:
conta_do_dan = ContaCorrente(15)
conta_do_dani = ContaCorrente(15)
conta_do_dan == conta_do_dani

True

In [49]:
conta_do_dan.deposita(10)

In [50]:
conta_do_dan == conta_do_dani

False

In [51]:
class ContaCorrente:
   def __init__(self, codigo):
       self._codigo = codigo
       self._saldo = 0

   def __eq__(self, outro):
     if type(outro) != ContaCorrente:
       return False
       
       return self._codigo == outro._codigo and self._saldo == outro._saldo

   def deposita(self, valor):
       self._saldo += valor 

   def __str__(self):
     return "[>>codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [52]:
conta_do_dan = ContaCorrente(15)
conta_do_dani = ContaSalario(15)

In [53]:
conta_do_dan == conta_do_dani

False

In [55]:
isinstance(ContaSalario(13), ContaSalario)

True

In [65]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [66]:
range(len(idades)) # lazy...

range(0, 8)

In [67]:
enumerate(idades) # lazy...

In [69]:
list(range(len(idades))) # forcei a geração de valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [70]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [72]:
for indice, idade  in enumerate(idades):
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [73]:
usuarios = [
            ("Daniel", 30, 1992),
            ("Olivia", 4, 2018),
            ("Luciano", 35, 1987)
]

for nome, idade, nascimento in usuarios:
  print(nome)

Daniel
Olivia
Luciano

In [74]:
for nome, _, _ in usuarios:
  print(nome)

Daniel
Olivia
Luciano

In [75]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [76]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [77]:
15 < 32

True

In [78]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [79]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [82]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [83]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [84]:
15 < 32

True

In [85]:
nomes = ["daniel", "Olivia", "Luciano"]
sorted(nomes)

['Luciano', 'Olivia', 'daniel']

In [86]:
class ContaCorrente:
   def __init__(self, codigo):
       self._codigo = codigo
       self._saldo = 0

   def __eq__(self, outro):
     if type(outro) != ContaCorrente:
       return False
       
       return self._codigo == outro._codigo and self._saldo == outro._saldo

   def deposita(self, valor):
       self._saldo += valor 

   def __str__(self):
     return "[>>codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [87]:
conta_do_daniel = ContaCorrente(15)
conta_do_daniel.deposita(500)

conta_da_olivia = ContaCorrente(15)
conta_da_olivia.deposita(1000)

conta_do_luciano = ContaCorrente(15)
conta_do_luciano.deposita(510)

contas = [conta_do_daniel, conta_da_olivia, conta_do_luciano]

In [91]:
for conta in contas:
  print(conta)

[>>codigo 15 Saldo 500<<]
[>>codigo 15 Saldo 1000<<]
[>>codigo 15 Saldo 510<<]

In [94]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>codigo 15 Saldo 500<<]
[>>codigo 15 Saldo 510<<]
[>>codigo 15 Saldo 1000<<]

In [95]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>codigo 15 Saldo 500<<]
[>>codigo 15 Saldo 510<<]
[>>codigo 15 Saldo 1000<<]

In [99]:
class ContaCorrente:
   def __init__(self, codigo):
       self._codigo = codigo
       self._saldo = 0

   def __eq__(self, outro):
     if type(outro) != ContaCorrente:
       return False
       
       return self._codigo == outro._codigo and self._saldo == outro._saldo

   def __lt__(self, outro):
     return self._saldo < outro._saldo

   def deposita(self, valor):
       self._saldo += valor 

   def __str__(self):
     return "[>>codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [101]:
conta_do_daniel = ContaCorrente(15)
conta_do_daniel.deposita(500)

conta_da_olivia = ContaCorrente(15)
conta_da_olivia.deposita(1000)

conta_do_luciano = ContaCorrente(15)
conta_do_luciano.deposita(510)

contas = [conta_do_daniel, conta_da_olivia, conta_do_luciano]

In [102]:
conta_da_olivia < conta_do_luciano

False

In [103]:
conta_do_luciano < conta_da_olivia

True

In [104]:
sorted(contas)

[<__main__.ContaCorrente at 0x7fbbb2016710>,
 <__main__.ContaCorrente at 0x7fbbb2016110>,
 <__main__.ContaCorrente at 0x7fbbb20163d0>]

In [107]:
for conta in sorted(contas):
 print(conta)

[>>codigo 15 Saldo 500<<]
[>>codigo 15 Saldo 510<<]
[>>codigo 15 Saldo 1000<<]

In [110]:
for conta in sorted(contas, reverse=True):
 print(conta)

[>>codigo 15 Saldo 1000<<]
[>>codigo 15 Saldo 510<<]
[>>codigo 15 Saldo 500<<]

In [111]:
conta_do_daniel = ContaCorrente(150)
conta_do_daniel.deposita(500)

conta_da_olivia = ContaCorrente(15)
conta_da_olivia.deposita(1000)

conta_do_luciano = ContaCorrente(100)
conta_do_luciano.deposita(500)

contas = [conta_do_daniel, conta_da_olivia, conta_do_luciano]

In [112]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
    print (conta)

[>>codigo 100 Saldo 500<<]
[>>codigo 150 Saldo 500<<]
[>>codigo 15 Saldo 1000<<]

In [113]:
class ContaCorrente:
   def __init__(self, codigo):
       self._codigo = codigo
       self._saldo = 0

   def __eq__(self, outro):
     if type(outro) != ContaCorrente:
       return False
       
       return self._codigo == outro._codigo and self._saldo == outro._saldo

   def __lt__(self, outro):
     if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

   def deposita(self, valor):
       self._saldo += valor 

   def __str__(self):
     return "[>>codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [114]:
conta_do_daniel = ContaCorrente(150)
conta_do_daniel.deposita(500)

conta_da_olivia = ContaCorrente(15)
conta_da_olivia.deposita(1000)

conta_do_luciano = ContaCorrente(100)
conta_do_luciano.deposita(500)

contas = [conta_do_daniel, conta_da_olivia, conta_do_luciano]

In [115]:
for conta in sorted(contas):
   print(conta)

[>>codigo 150 Saldo 500<<]
[>>codigo 100 Saldo 500<<]
[>>codigo 15 Saldo 1000<<]

In [116]:
conta_do_daniel < conta_da_olivia

True

In [117]:
from functools import total_ordering

@total_ordering
class ContaCorrente:
   def __init__(self, codigo):
       self._codigo = codigo
       self._saldo = 0

   def __eq__(self, outro):
     if type(outro) != ContaCorrente:
       return False
       
       return self._codigo == outro._codigo and self._saldo == outro._saldo

   def __lt__(self, outro):
     if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

   

   def deposita(self, valor):
       self._saldo += valor 

   def __str__(self):
     return "[>>codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [118]:
conta_do_daniel = ContaCorrente(150)
conta_do_daniel.deposita(500)

conta_da_olivia = ContaCorrente(15)
conta_da_olivia.deposita(1000)

conta_do_luciano = ContaCorrente(100)
conta_do_luciano.deposita(500)

contas = [conta_do_daniel, conta_da_olivia, conta_do_luciano]

In [119]:
conta_do_daniel <= conta_da_olivia

True

In [122]:
conta_do_daniel <= conta_do_luciano

In [123]:
conta_do_luciano <= conta_do_daniel

In [124]:
conta_do_luciano == conta_do_daniel